@using Kisiselweb.Models.Classes
@model List<Anasayfa>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Web Sitesi</title>
    <link rel="stylesheet" href="~/web-Admin/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="center">
        <div class="avatar">
            @foreach(var x in Model)
            {
                <img src="@x.Profiphoto"> <!-- >burası fotograf ekliyor. -->
            }
            
        </div>
        <div class="content">
            @foreach (var x in Model)
            {
                <h1>@x.Name</h1>
                <h2>@x.Unvan</h2>
                <p>@x.Description</p>
                @* <p>Buraya kendimden bişiler katmak istedim. 2023 yılının başlarında başladım yazılıma ve işimi seviyorum.Bu alanda ilerleyebiceğim kadar ilerlemek istiyorum.</p> *@
                <h4>@x.Comminication</h4>
            }
            
        </div>
       @Html.ActionLink("İkon","Anasayfa")

    </div>
</body>
</html>
